# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build and distribution
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.test

# Notes
cmds.txt
webpack.notes.txt

